/* Filtros */
.dl-filters-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dl-filters-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #57AFEE;
  text-transform: uppercase;
  padding-left: 10px;
  transition: color 0.3s ease-in-out;
}
.dl-filters-title:hover {
  color: #004ee0;
}
.dl-filters-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.dl-filter-form .form-group {
  margin-bottom: 10px;
  width: 30%;
  display: inline-block;
  margin-right: 10px;
}
.dl-filter-form .form-control {
  width: 100%;
}
.dl-filter-form button {
  margin-top: 10px;
}

/* Divisória */
.dl-divider {
  border-top: 2px solid #57AFEE;
  margin: 20px 0;
}

/* Botões */
.dl-btn-primary {
  background-color: #57AFEE;
  border-color: #57AFEE;
  color: #fff;
}
.dl-btn-primary:hover {
  background-color: #004ee0;
  border-color: #004ee0;
}
.dl-btn-secondary {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.dl-btn-secondary:hover {
  background-color: #c0c0c0;
  color: #000;
}

/* Container dos botões */
.dl-btn-container {
  display: flex;
  gap: 10px;
}



/* Detalhes dos Produtos */

/* Geral */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f9;
}

.product_section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Caixa de Produto */
.product-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adiciona espaçamento entre as colunas */
}

.product-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Descrição do Produto */
.product-description {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
  margin-top: 20px;
  margin-bottom: -50px;
  justify-content: space-between;
}
.stock-status {
  font-size: 16px;
  color: #888;
  margin-top: 20px;
  margin-bottom: -50px;
  justify-content: space-between;
}

/* Botões */
.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-selector button {
  background-color: #57AFEE;
  border: none;
  padding: 8px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-selector input {
  width: 40px;
  padding: 6px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-add-to-cart {
  background-color: #57AFEE;
  border: none;
  padding: 8px 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
  background-color: #004ee0;
}

.btn-voltar-button {
  background-color: #333;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-voltar-button:hover {
  background-color: #858585;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-box {
    width: 100%;
  }
  .quantity-selector {
    flex-wrap: wrap;
  }
}









/* Tabela */
.table {
  background-color: #fff;
  color: #0c1423;
}

.thead-dark th {
  background-color: #57AFEE;
  color: #fff;
}

.dl-btn-primary {
  background-color: #57AFEE;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.dl-btn-primary:hover {
  background-color: #007bbd;
  color: #fff;
}


/* Estilo Geral para o Perfil */
.user-view {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  margin-bottom: 20px;
}

.profile-logo img {
  max-width: 50% !important;
  width: 50% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.profile-subtitle {
  color: #6c757d;
  font-size: 1.1rem;
}

.profile-details {
  margin-top: 30px;
}

.card {
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
}

.card-body {
  padding: 30px;
}

.card h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 15px;
}

.btn {
  border-radius: 5px;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: #57AFEE;
  border-color: #57AFEE;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Ícones */
.fas {
  margin-right: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
  .profile-header {
    padding: 10px;
  }

  .card-body {
    padding: 15px;
  }
}




/* Secção de Avaliações */
.dl-avaliacoes-title {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

.avaliacoes-container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avaliacao {
  background-color: #F7F7F7;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avaliacao p {
  color: #333333;
  margin: 8px 0;
  font-size: 14px;
}

.btn-remove-avaliacao {
  background-color: #f43737;
  border: none;
  color: #FFFFFF;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-remove-avaliacao:hover {
  background-color: #a10000;
}

/*       Login       */

.dl-login-section {
  background: linear-gradient(135deg, #f8f8f8, rgba(216, 216, 216, 0.94));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.dl-login-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.dl-logo-container {
  margin-bottom: 20px;
}

.dl-login-logo {
  max-width: 100px;
  height: auto;
}

.dl-login-title {
  font-size: 28px;
  font-weight: 700;
  color: #0052cc;
  margin-bottom: 15px;
}

.dl-login-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.dl-login-container {
  width: 100%;
}

.dl-login-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 15px;
  background: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  color: #333;
}

.dl-login-input:focus {
  border-color: #0052cc;
  background-color: #ffffff;
  outline: none;
}

.dl-login-rememberme {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.dl-login-checkbox {
  margin: 0;
  margin-right: 10px;
}

.dl-login-checkbox-label {
  font-size: 14px;
  color: #555;
}

.dl-login-links {
  font-size: 14px;
  margin-bottom: 30px;
  color: #777;
}

.dl-login-link {
  color: #0052cc;
  text-decoration: none;
  font-weight: 600;
}

.dl-login-link:hover {
  text-decoration: underline;
}

.dl-login-button-container {
  text-align: center;
}

.dl-login-button {
  background: linear-gradient(135deg, #0052cc, #003c99);
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dl-login-button:hover {
  background: linear-gradient(135deg, #003c99, #002866);
  transform: translateY(-3px);
}

.dl-login-button:active {
  transform: translateY(0);
}

/*       Register         */


.dl-register-section {
  background: linear-gradient(135deg, #f8f8f8, rgba(216, 216, 216, 0.94));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.dl-register-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.dl-logo-container {
  margin-bottom: 20px;
}

.dl-register-logo {
  max-width: 100px;
  height: auto;
}

.dl-register-title {
  font-size: 28px;
  font-weight: 700;
  color: #0052cc;
  margin-bottom: 15px;
}

.dl-register-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.dl-register-container {
  width: 100%;
}

.dl-register-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 15px;
  background: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  color: #333;
}

.dl-register-input:focus {
  border-color: #0052cc;
  background-color: #ffffff;
  outline: none;
}

.dl-register-button-container {
  text-align: center;
}

.dl-register-button {
  background: linear-gradient(135deg, #0052cc, #003c99);
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dl-register-button:hover {
  background: linear-gradient(135deg, #003c99, #002866);
  transform: translateY(-3px);
}

.dl-register-button:active {
  transform: translateY(0);
}

/*            Detalhes da venda     */

.dl-venda-detail {
  font-family: 'Poppins', sans-serif;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  flex-direction: column;
  text-align: center;
}

.dl-venda-card {
  background: white;
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.dl-venda-header {
  margin-bottom: 30px;
}

.dl-venda-title {
  font-size: 32px;
  font-weight: 700;
  color: #57AFEE;
  margin-bottom: 20px;
}

.dl-venda-header p {
  font-size: 16px;
  color: #333;
}

.dl-venda-details {
  margin-top: 20px;
}

.dl-venda-subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #57AFEE;
  margin-bottom: 20px;
}

.dl-venda-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.dl-venda-table th,
.dl-venda-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.dl-venda-table th {
  background-color: #57AFEE;
  color: white;
  font-weight: 600;
}

.dl-venda-table td {
  background-color: #f9f9f9;
}

.dl-venda-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dl-venda-table tr:hover {
  background-color: #e1e1e1;
}

.dl-logo-footer {
  text-align: center;
  margin-top: 40px;
}

.dl-footer-logo {
  max-width: 500px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .dl-venda-card {
    padding: 20px;
  }

  .dl-venda-title {
    font-size: 28px;
  }

  .dl-venda-subtitle {
    font-size: 20px;
  }

  .dl-venda-table {
    font-size: 12px;
  }

  .dl-footer-logo {
    max-width: 300px; /* Ajuste do tamanho do logo em telas menores */
  }
}

/*                FaturasPDF                    */

.dl-venda-detail-pdf {
  background: linear-gradient(135deg, #f8f8f8, #57AFEE);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.dl-venda-card-pdf {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
}

.dl-venda-header-pdf {
  margin-bottom: 30px;
}

.dl-venda-title-pdf {
  font-size: 28px;
  font-weight: 700;
  color: #57AFEE;
  margin-bottom: 10px;
}

.dl-venda-details-pdf {
  width: 100%;
}

.dl-venda-subtitle-pdf {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.dl-venda-table-pdf {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.dl-venda-table-pdf th,
.dl-venda-table-pdf td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.dl-venda-table-pdf th {
  background-color: #57AFEE;
  color: white;
  font-weight: 600;
}

.dl-venda-table-pdf td {
  background-color: #fafafa;
}

.dl-logo-footer-pdf {
  margin-top: 40px;
  text-align: center;
}

.dl-footer-logo-pdf {
  max-width: 300px;
  height: auto;
}