/* Filtros */
.dl-filters-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dl-filters-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #57AFEE;
  text-transform: uppercase;
  padding-left: 10px;
  transition: color 0.3s ease-in-out;
}
.dl-filters-title:hover {
  color: #004ee0;
}
.dl-filters-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.dl-filter-form .form-group {
  margin-bottom: 10px;
  width: 30%;
  display: inline-block;
  margin-right: 10px;
}
.dl-filter-form .form-control {
  width: 100%;
}
.dl-filter-form button {
  margin-top: 10px;
}

/* Divisória */
.dl-divider {
  border-top: 2px solid #57AFEE;
  margin: 20px 0;
}

/* Botões */
.dl-btn-primary {
  background-color: #57AFEE;
  border-color: #57AFEE;
  color: #fff;
}
.dl-btn-primary:hover {
  background-color: #004ee0;
  border-color: #004ee0;
}
.dl-btn-secondary {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.dl-btn-secondary:hover {
  background-color: #c0c0c0;
  color: #000;
}

/* Container dos botões */
.dl-btn-container {
  display: flex;
  gap: 10px;
}



/* Detalhes dos Produtos */

/* Geral */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f9;
}

.product_section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Caixa de Produto */
.product-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adiciona espaçamento entre as colunas */
}

.product-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Descrição do Produto */
.product-description {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
  margin-top: 20px;
  margin-bottom: -50px;
  justify-content: space-between;
}
.stock-status {
  font-size: 16px;
  color: #888;
  margin-top: 20px;
  margin-bottom: -50px;
  justify-content: space-between;
}

/* Botões */
.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-selector button {
  background-color: #57AFEE;
  border: none;
  padding: 8px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-selector input {
  width: 40px;
  padding: 6px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-add-to-cart {
  background-color: #57AFEE;
  border: none;
  padding: 8px 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
  background-color: #004ee0;
}

.btn-voltar-button {
  background-color: #333;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-voltar-button:hover {
  background-color: #858585;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-box {
    width: 100%;
  }
  .quantity-selector {
    flex-wrap: wrap;
  }
}









/* Tabela */
.table {
  background-color: #fff;
  color: #0c1423;
}

.thead-dark th {
  background-color: #57AFEE;
  color: #fff;
}

.dl-btn-primary {
  background-color: #57AFEE;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.dl-btn-primary:hover {
  background-color: #007bbd;
  color: #fff;
}


/* Estilo Geral para o Perfil */
.user-view {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  margin-bottom: 20px;
}

.profile-logo img {
  max-width: 50% !important;
  width: 50% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.profile-subtitle {
  color: #6c757d;
  font-size: 1.1rem;
}

.profile-details {
  margin-top: 30px;
}

.card {
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
}

.card-body {
  padding: 30px;
}

.card h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 15px;
}

.btn {
  border-radius: 5px;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: #57AFEE;
  border-color: #57AFEE;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Ícones */
.fas {
  margin-right: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
  .profile-header {
    padding: 10px;
  }

  .card-body {
    padding: 15px;
  }
}




/*   Secção dos Comentários   */

.dl-avaliacoes-title {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

.dl-review-form-title {
  color: #57AFEE;
  font-size: 20px;
  margin-bottom: 15px;
}

.dl-review-form-section {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dl-form-group {
  margin-bottom: 15px;
}

.dl-form-label {
  color: #333333;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.dl-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #57AFEE;
  border-radius: 4px;
  color: #333333;
  font-size: 14px;
}

textarea.dl-form-control {
  resize: none;
}

.dl-btn-primary {
  background-color: #57AFEE;
  border-color: #57AFEE;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.dl-btn-primary:hover {
  background-color: #0056b3;
}

/* Lista de Avaliações */
.dl-reviews-list {
  margin-top: 30px;
}

.dl-review {
  background-color: #F7F7F7;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dl-review p {
  color: #333333;
  margin: 5px 0;
}