/* Filtros */
.dl-filters-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dl-filters-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #57AFEE;
  text-transform: uppercase;
  padding-left: 10px;
  transition: color 0.3s ease-in-out;
}
.dl-filters-title:hover {
  color: #004ee0;
}
.dl-filters-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.dl-filter-form .form-group {
  margin-bottom: 10px;
  width: 30%;
  display: inline-block;
  margin-right: 10px;
}
.dl-filter-form .form-control {
  width: 100%;
}
.dl-filter-form button {
  margin-top: 10px;
}

/* Divisória */
.dl-divider {
  border-top: 2px solid #57AFEE;
  margin: 20px 0;
}

/* Botões */
.dl-btn-primary {
  background-color: #57AFEE;
  border-color: #57AFEE;
  color: #fff;
}
.dl-btn-primary:hover {
  background-color: #004ee0;
  border-color: #004ee0;
}
.dl-btn-secondary {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.dl-btn-secondary:hover {
  background-color: #c0c0c0;
  color: #000;
}

/* Container dos botões */
.dl-btn-container {
  display: flex;
  gap: 10px;
}



/* Detalhes dos Produtos */

/* Geral */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f9;
}

.product_section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Título da Página */
.product-heading h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Caixa de Produto */
.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  padding: 20px;
}

.img-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Título e Descrição */
.product-title h2 {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.product-description {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Preço e Estoque */
.product-price {
  font-size: 22px;
  font-weight: bold;
  color: #28a745;
}
.stock-status {
  font-size: 16px;
  color: #888;
}

/* Botões */
.add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-selector button {
  background-color: #57AFEE;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.quantity-selector input {
  width: 50px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botões Adicionar ao Carrinho e Voltar */

.quantity-selector button:hover {
  background-color: #004ee0;
}
.btn-add-to-cart:hover {
  background-color: #004ee0;
}

.btn-voltar-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-voltar-button:hover {
  background-color: #858585;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-box {
    width: 100%;
  }
}


.table {
  background-color: #fff;
  color: #0c1423;
}

.thead-dark th {
  background-color: #00B4FD;
  color: #fff;
}

.dl-btn-primary {
  background-color: #00B4FD;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.dl-btn-primary:hover {
  background-color: #007bbd;
  color: #fff;
}




